main {
  display: flex;
  justify-content: space-around;
}
.recipe {
  width: 90%;
  margin-top: 1em;
  padding: 2em;
  margin: 1em;
  border-radius: 1em;
  box-shadow: 1px 1px 5px 1px grey;
  &__title {
    text-align: center;
    margin-bottom: 1em;
  }
  &__header {
    display: flex;
    justify-content: space-around;
  }
  &__image {
    height: 50%;
    width: 50%;
  }
  &__summary {
    margin-left: 2em;
    text-align: justify;
  }
  &__footer {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    padding-top: 0.3em;
  }
}
