<main>
  <button mat-mini-fab class="back-button">
    <mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>
  </button>
  <div class="recipe" *ngIf="recipe$ | async as recipe">
    <h3 class="recipe__title">{{ recipe.title }}</h3>
    <div class="recipe__header">
      <img class="recipe__image" [src]="recipe.image" [alt]="recipe.title" />
      <p class="recipe__summary" [innerHTML]="recipe.summary"></p>
    </div>
    <div class="recipe__main"></div>
    <div class="recipe__footer" matRipple>
      <mat-icon fontSet="fa" fontIcon="fa-sort-down"></mat-icon>
    </div>
  </div>
</main>
