<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="menu icon">
    <mat-icon fontSet="fa" fontIcon="fa-bars"></mat-icon>
  </button>
  <span>Let's Cook</span>
  <span class="spacer"></span>
  <button mat-icon-button aria-label="heart icon">
    <mat-icon fontSet="fa" fontIcon="fa-heart"></mat-icon>
  </button>
  <button mat-icon-button aria-label="share icon">
    <mat-icon fontSet="fa" fontIcon="fa-share"></mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>