.toolbar {
  &__link {
    padding: 0.5em;
    margin: 0.3em;
    border-radius: 0.3em;
    cursor: pointer;

    &--active {
      background-color: #7e5cbb;
    }
  }
  
  &__spacer {
    flex: 1 1 auto;
  }
}
