/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error {
  width: 90%;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  background-color: #ff0000a1;
  color: white;
}
